# FILES TODO

/packages/oryx/src/services/fulfillment-provider.js
/packages/oryx/src/services/middleware.js
/packages/oryx/src/subscribers/notification.js
/packages/oryx/src/subscribers/order.js
/packages/oryx/src/subscribers/product.js
/packages/oryx/src/loaders/api.ts
/packages/oryx/src/loaders/database.ts
/packages/oryx/src/loaders/defaults.ts
/packages/oryx/src/loaders/express.ts
/packages/oryx/src/loaders/index.ts
/packages/oryx/src/loaders/logger.ts
/packages/oryx/src/loaders/models.ts
/packages/oryx/src/loaders/passport.ts
/packages/oryx/src/loaders/plugins.ts
/packages/oryx/src/loaders/redis.ts
/packages/oryx/src/loaders/repositories.ts
/packages/oryx/src/loaders/services.ts
/packages/oryx/src/loaders/subscribers.ts
/packages/oryx/src/api/routes/admin/auth
/packages/oryx/src/api/routes/admin/collections
/packages/oryx/src/api/routes/store/carts
/packages/oryx/src/api/routes/store/return-reasons
/packages/oryx/src/api/routes/store/returns

# JS Client
/packages/oryx-js/src/resources/auth.ts
/packages/oryx-js/src/resources/gift-cards.ts
/packages/oryx-js/src/resources/line-items.ts
/packages/oryx-js/src/resources/payment-methods.ts
/packages/oryx-js/src/resources/product-variants.ts
/packages/oryx-js/src/resources/regions.ts
/packages/oryx-js/src/resources/return-reasons.ts
/packages/oryx-js/src/resources/returns.ts
/packages/oryx-js/src/resources/shipping-options.ts
/packages/oryx-js/src/resources/swaps.ts
/packages/oryx-js/src/resources/collections.ts
/packages/oryx-js/src/types/
/packages/oryx-js/src/error.ts


# END OF FILES TODO

/packages/oryx/src/models
/packages/oryx/src/repositories
/packages/oryx/src/commands
/packages/oryx/src/helpers
/packages/oryx/src/migrations
/packages/oryx/src/utils
/integration-tests
/docs
/docs-util
/scripts
/www
/packages/babel-preset-medusa-package
/packages/create-medusa-app
/packages/oryx-cli
/packages/oryx-core-utils
/packages/oryx-dev-cli
/packages/oryx-file-minio
/packages/oryx-file-s3
/packages/oryx-file-spaces
/packages/oryx-fulfillment-manual
/packages/oryx-fulfillment-webshipper
/packages/oryx-interfaces
/packages/oryx-payment-adyen
/packages/oryx-payment-klarna
/packages/oryx-payment-manual
/packages/oryx-payment-paypal
/packages/oryx-payment-stripe
/packages/oryx-plugin-meilisearch
/packages/oryx-plugin-add-ons
/packages/oryx-plugin-brightpearl
/packages/oryx-plugin-contentful
/packages/oryx-plugin-discount-generator
/packages/oryx-plugin-economic
/packages/oryx-plugin-ip-lookup
/packages/oryx-plugin-mailchimp
/packages/oryx-plugin-permissions
/packages/oryx-plugin-restock-notification
/packages/oryx-plugin-segment
/packages/oryx-plugin-sendgrid
/packages/oryx-plugin-slack-notification
/packages/oryx-plugin-twilio-sms
/packages/oryx-plugin-wishlist
/packages/oryx-telemetry
/packages/oryx-test-utils

packages/**/scripts
packages/*/*.js
**/dist/*

**/__mocks__/*
**/__tests__/*

jest.config.js
